{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" 
    rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/adicionar_arte_carrinho.css' %}">
    <title>FK • Adicionar Arte</title>
</head>
<body>
    
    <!--Barra de Navegação-->
    <nav class="navbar navbar-expand-lg bg-body-">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'arte_lista' %}">FK GALERIA</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'arte_lista' %}">Artes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'carrinho_lista' %}">Carrinho</a>
                    </li>
                    <li class="nav-tem">
                        <a class="nav-link" href="{% url 'encontrar_arte' %}">Procurar</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    
    <div class="titulo">
        <h1>Arte {{arte.titulo}}</h1>
    </div>

    <!--Arte e informações-->
    <div class="container2">
        <div class="card" style="width: 800px;">
            <img src="{{arte.imagem.url}}" class="card-img-top" alt="imagem - {{arte.titulo}}">
            <div class="card-body">
                <h5 class="card-title">{{arte.titulo}} - {{user.username}}</h5>
                <p class="card-text">{{arte.descricao}}<br>
                    Categoria: {{arte.categoria}}<br>
                    R${{arte.preco|floatformat:2}}
                </p>
            </div>
            <div class="btn">
                <form action="." method="post">
                    {% csrf_token %}
                    <button class="btn">Adicionar</button>
                </form>
                <a href="{% url 'arte_lista' %}"><button class="btn">Voltar</button></a>
            </div>
        </div>
    </div>

    <footer class="rodape">
        &copy; Todos os direitos reservados a Fabio Kauan 
    </footer>

</body>
</html>