body {
    background-image: linear-gradient( to bottom, beige, rgb(238, 238, 192), rgb(204, 204, 142), rgb(182, 182, 111));
}

/* Arte e Informações sobre */
.container2 {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.container2 .card {
    color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0);
}

.container2 .add_carrinho {
    text-align: center;
    margin-bottom: 5px;
}

img {
    height: 500px;
}

/* botões */
.btn {
    border: 1px solid black;
    transition: none;
    color: #000;
}

.btn:hover {
    border: 1px solid black;
    color: black;
}

/* comentarios */
.container3 {
    width: 1200px;
    padding: 10px;
    margin-right: 10px;
    float: left;
}

.container3 h1 {
    border-radius: 10px;
    padding: 10px;
}

.container3 .comentario {
    padding: 5px;               
    border-radius: 10px;
}

/* comentar */
.container4 form {
    display: flex;
    padding: 10px;
    height: 224px;
    width: 500px;
    margin-top: 10px;
    flex-direction: column;
    border-radius: 10px;
}

.container4 button {
    margin-top: 5px;
}

/* Rodapé */
.rodape {
    text-align: center;
    width: 100%;
    bottom: 0;
    left: 0;
    display: block;
    position: fixed;
}