body {
    background-image: linear-gradient( to right, rgb(228, 228, 194), rgb(238, 238, 192), rgb(204, 204, 142), rgb(182, 182, 111));
}

/* botões */
.btn {
    border: 1px solid black;
    transition: none;
    color: #000;
}

.btn:hover {
    border: 1px solid black;
    color: black;
}

/* categorias */
.categorias {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 5px;
    border: 1px solid black;
}

.categorias button {
    border-radius: 20px;
}

/* texto arte */
.arte {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

.arte h1 {
    text-transform: uppercase;
    margin-right: 15px;
    color: rgb(0, 0, 0);
}

/* artes */
.container2 .card {
    background-color: rgba(255, 255, 255, 0);
}

.container2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
}

img {
    height: 200px;
}

/* Rodapé */
.rodape {
    text-align: center;
    width: 100%;
    bottom: 0;
    left: 0;
    display: block;
    position: fixed;
}