body {
    background-image: linear-gradient( to right, beige, rgb(238, 238, 192), rgb(204, 204, 142), rgb(182, 182, 111));
}

/* titulo */
.titulo {
    text-align: center;
    margin-top: 10px;
    padding: 5px;
}

/* formulario */
.container2 {
    display: flex;
    justify-content: center;
}

.formulario {
    padding: 10px;
    height: 400px;
    width: 500px;
    border-radius: 10px;
    border: 1px solid black;
}

/* botões */
.btn {
    border: 1px solid black;
    transition: none;
    color: #000;
}

.btn:hover {
    border: 1px solid black;
    color: black;
}

/* Rodapé */
.rodape {
    text-align: center;
    width: 100%;
    bottom: 0;
    left: 0;
    display: block;
    position: fixed;
}