body {
    background-image: linear-gradient( to right, beige, rgb(238, 238, 192), rgb(204, 204, 142), rgb(182, 182, 111));
}

/* titulo */
.titulo {
    text-align: center;
    margin-top: 10px;
    padding: 5px;
}

/* Arte e Informações sobre */
.container2 {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.container2 .card {
    color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0);
}

img {
    height: 500px;
}

/* botões */
.btn {
    border: 1px solid black;
    transition: none;
    color: #000;
}

.btn:hover {
    border: 1px solid black;
    color: black;
}

/* Rodapé */
.rodape {
    text-align: center;
    width: 100%;
    bottom: 0;
    left: 0;
    display: block;
    position: fixed;
}