body {
    background-image: linear-gradient( to right, beige, rgb(238, 238, 192), rgb(204, 204, 142), rgb(182, 182, 111));
}

/* Texto Carrinho */
.texto_carrinho {
    text-align: center;
    padding: 10px;
    border: 1px solid black;
}

/* Carrinho */
.container2 {
    display: flex;
    flex-wrap: wrap;
    width: 1420px;
    margin-top: 20px;
    margin-left: 10px;
    align-content: space-around;
    list-style: none;
    padding: 10px;
    border: 1px solid black;
    border-radius: 20px;
    float: left;
}

.container2 .card {
    background-color: rgba(0, 0, 0, 0);
}

.container2 img {
    border-radius: 5px;
    height: 200px;
}

/* botões */
.btn {
    border: 1px solid black;
    transition: none;
    color: #000;
}

.btn:hover {
    border: 1px solid black;
    color: black;
}


/* Seu Carrinho */
.container3 {
    display: flex;
    border: 1px solid black;
    border-radius: 10px;
    margin-top: 20px;
    margin-left: 1480px;
    width: 260px;
}

.container3 .sobre_carrinho {
    padding: 10px;
    text-align: center;
}

/* Rodapé */
.rodape {
    text-align: center;
    width: 100%;
    bottom: 0;
    left: 0;
    display: block;
    position: fixed;
}