body {
    background-image: linear-gradient( to right, beige, rgb(238, 238, 192), rgb(204, 204, 142), rgb(182, 182, 111));
}

/* barra de pesquisa */
.barra {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    padding: 10px;
}

.barra input {
    height: 70px;
    width: 1300px;
    border: 1px solid black;
    background-color: rgba(0, 0, 0, 0);
}

::-webkit-input-placeholder {
    color: black;
    font-size: x-large;
}

input[type=text] {
    font-size: x-large;
}

/* Artes */
.container2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 10px;
}

.container2 .card {
    background-color: rgba(0, 0, 0, 0);
}

.container2 img {
    height: 250px;
}

/* botões */
.btn {
    border: 1px solid black;
    transition: none;
    color: #000;
}

.btn:hover {
    border: 1px solid black;
    color: black;
}

/* Rodapé */
.rodape {
    text-align: center;
    width: 100%;
    bottom: 0;
    left: 0;
    display: block;
    position: fixed;
}